body {
    background-color: #fbfbfa;
    font-family: 'Lato', sans-serif;
    max-width: 500px!important;
    color: #3b3b3a;

}

.twred {
    background-color: #8f0f0f;
    color: white;
}

#tape-header, p{
    padding-left: 10px;
    padding-right: 10px;
}

#tape-header{
    height: 60px;
    margin-top: 5px;
}

#profile-pic-container{
    width: 40px;
    padding: 0;

}

#profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 4px;
}

.meta{
    line-height: 20px;
}

#title{
    width: 100%;
    height: 90px;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    color: white;
}


.chapter-button{
    border-color: #8f0f0f!important;
    color: #8f0f0f;
    background-color: inherit;
    margin-top: 30px;
}

.feed-image{
    width: 100%;
    margin-top: 10px;
}

.image-caption{
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
    color: white;
}


#tape-time{
    margin-left: 5px;
    margin-right: 5px;
}

#tape-time-played {
    background-color: #8f0f0f;
    width: 25%;
}
#tape-contol {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    color: #8f0f0f;
    box-shadow: 0px -2px  2px lightgrey;
    background-color: white;
    opacity: 0.96;
    font-weight: bold;

}

#tape-time, #controls-panel{

}
#tape-time{
    margin: 10px 0 10px 0;
    height: 1em;
}

#controls-panel{
    margin: 15px 0 10px 0;
    padding: 5px;
}

#logo{
    height: 23px;
}

.control-buttons{
    width: 18%;
}

.control-buttons:first-child{
    width: 28%;
}